/* * { border: 1px solid red} */

/* Styling Lydia Start */

footer > div.row > div > img {
    height: 50px;
    width: auto;
}


footer svg {
    height: 1.25rem;
    width: auto;
    margin: 0.5rem;
color: white;} 

footer p{color: white;
font-family: "Roboto", sans-serif;}

/* Styling Lydia End */